<html>
	<head>

		<title>Home</title>

	</head>

	<body>
		<div class="container">
		<h1 style="background-color:#e0f2f1; color:teal;">Welcome To Health Fitness</h1>
		<nav class="navbar navbar-inverse navbar-fixed bottom">
		<div class="row ">
			
			<div class="col-xs-12 col-sm-12">
				<div class="container" style="background-color:#e0f2f1;">
				<ul class="nav navbar-nav">
					<li><a href="#">HOME</a></li>
					<li><a href="#">PRODUCTS</a></li>
					<li><a href="#">DIET PLAN</a></li>
					<li><a href="#">TERMS</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
		</div>			</div>
		</div>
	</div>










		</body>












</html>

