{%load static %}
<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE-edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>Signup</title>

		<link rel="stylesheet" href= "{%static "css/styles.css" %}" >
		<link rel="stylesheet" href="{%static "css/bootstrap.css"%}">

	</head>

	
	<body>
		<center>
			<div class="container" style="background-color:e0f2f1;">
			<h1 style= "color:teal;padding:0; margin:0;">welcome to Health and fittness</h1>
		</div>
	</center>
		<div class="container" style="background-color:#e0f2f1;">
			<center><h1 style ="color:teal;">Signup To Health Fitness<h1>
					<form method="post">
						{% csrf_token %}
		       <div>
           			<p style="color:teal; font-size:20px">Username</p>
				<input  style="background-color:teal;" id="username" type="text" name="username" value="{{username}}">
    			</div>

    			   <div>
       				   <p style="color:teal; font-size:20px">Email</p>
				    <input style="background-color:teal;" id="email" type="text" name="email" value="{{emai}}">
   		</div>

    			   <div>
        			  <p style="color:teal; font-size:20px">Password</p>
				   <input style="background-color:teal;"  id="password" type="password" name="password" value="{{ password }}">
 	      </div>
		  	  <div>
        			  <p style="color:teal; font-size:20px">Contact</p>
				   <input style="background-color:teal;" id="contact" type="text" name="contact" value="{{contact}}">
  			</div>
        		   <input  style="background-color:#FFCCBC;" type="submit" value="Sign Up">
    </form>
  	

		</center>
		
		
		<script src="{% static "js/jquery-3.2.1.js" %}"></script>
                <script src="{% static "js/bootstrap.js" %}"></script>


		
	
		
		
		
		
	</body>

	
	











</html>

	
	


